<%- include("includes/header.ejs") %>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Add New Community Member.</h1>
  <form class="user" action="/create-customer" method="post">

    <div class="form-group row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name"
          name="firstName" required>
      </div>
      <div class="col-sm-6">
        <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name"
          name="lastName" required>
      </div>
    </div>
    <div class="form-group">
      <input type="tel" class="form-control form-control-user" id="exampleInputEmail" placeholder="Contact Number"
        name="contact" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control form-control-user" id="exampleInputEmail" placeholder="Location"
        name="location" required>
    </div>


    <button type="submit" class="btn btn-primary btn-user btn-block">
      Register Account
    </button>
    <hr>

  </form>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Your Website 2019</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<%- include("includes/footer.ejs") %>